* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
}

/* regole sfondo */
.background {
    width: 100%;
    height: 100%;
    position: relative;
}

#green-bg {
    background-color: rgb(0, 150, 135);
    width: 100%;
    height: 20%;
}

#grey-bg {
    background-color: rgb(216, 219, 213);
    width: 100%;
    height: 80%;
}


/* main content */
#app {
    width: 70%;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 15%;
    right: 15%;
    display: flex;
    /* debug */
    background-color: blue;
}


/* barra sinistra con lista contatti */
#left-col {
    width: 35%;
    /* debug */
    background-color: blueviolet;
    height: 100%;
}



/* parte destra con chat */
#chat-container {
    width: 65%;
    /* debug */
    background-color: brown;
    height: 100%;
}

/* div profilo utente */
.profile {
    width: 100%;
    height: 70px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    padding: 3px;
}


.profile-data {
    width: 40%;
    display: flex;
    align-items: center;
}
.profile-pic {
    width: 30%;
    margin-right: 5px;
    
}

.profile-pic img {
    max-width: 100%;
    border-radius: 50%;
}

.profile-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    color: rgb(176, 176, 176);
    font-size: 20px;
    margin-right: 10px;
}


/* div notifiche */
#notifications {
    width: 100%;
    height: 70px;
    background-color: rgb(141, 217, 252);
    display: flex;
    align-items: center;
}

#notifications a {
    color: grey;
}

.fa-bell-slash {
    font-size: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    color: rgb(141, 217, 252);
}

/* barra di ricerca */
#input-container {
    width: 100%;
    padding: 5px;
    background-color: white;

}

#input-container input {
    width: 100%;
    padding: 5px;
}

/* lista contatti */
#list-container {
    background-color: white;
    
}

.contact {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.contact:hover {
    background-color: rgb(232, 235, 235);
    cursor: pointer;
}

.contact-data {
    display: flex;
}

.contact-image {
    width: 60px;
    margin-right: 15px;
}

.contact-image img {
    max-width: 100%;
    border-radius: 50%;
}

.contact-name {
    font-weight: bold;
}

.contact-last-message {
    color: grey;
    font-size: small;
}